@import "../../shared/css/variables.scss";

#searchCard {
  margin-bottom: 10px;
  .content {
    p:last-of-type {
      margin-top: 10px;
    }
    button {
      float: right;
      background: $themeColor;
      color: white;
    }
  }
}
